/* line 5, ../sass/interactive.scss */
.intro .figure-nav {
  position: relative;
  background-color: white;
  z-index: 10;
}
/* line 11, ../sass/interactive.scss */
.intro .figure-nav .figure-nav-top {
  height: 35px;
  margin-bottom: 20px;
  margin-left: 50px;
  margin-right: 50px;
  background-color: #135257;
  text-align: center;
}
/* line 19, ../sass/interactive.scss */
.intro .figure-nav .figure-nav-top span {
  color: white;
  line-height: 35px;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 2px;
}
/* line 28, ../sass/interactive.scss */
.intro .figure-nav .figure-nav-curve {
  position: absolute;
  width: 50px;
  height: 100%;
  background-color: #135257;
}
/* line 35, ../sass/interactive.scss */
.intro .figure-nav .figure-nav-curve::after {
  content: '';
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  top: 50%;
  margin-top: -10px;
  background-color: white;
}
/* line 47, ../sass/interactive.scss */
.intro .figure-nav .figure-nav-curve.figure-nav-curve-left {
  left: 0;
  top: 0;
  border-radius: 20px 0 0 20px;
}
/* line 52, ../sass/interactive.scss */
.intro .figure-nav .figure-nav-curve.figure-nav-curve-left::after {
  right: 0;
  border-radius: 12px 0 0 12px;
}
/* line 57, ../sass/interactive.scss */
.intro .figure-nav .figure-nav-curve.figure-nav-curve-left::before {
  content: '';
  z-index: 2;
  position: absolute;
  left: 100%;
  bottom: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 18.5px 0 18.5px 10px;
  border-color: transparent transparent transparent #135257;
}
/* line 70, ../sass/interactive.scss */
.intro .figure-nav .figure-nav-curve.figure-nav-curve-right {
  right: 0;
  top: 0;
  border-radius: 0px 20px 20px 0px;
}
/* line 75, ../sass/interactive.scss */
.intro .figure-nav .figure-nav-curve.figure-nav-curve-right::after {
  border-radius: 0 12px 12px 0;
}
/* line 79, ../sass/interactive.scss */
.intro .figure-nav .figure-nav-curve.figure-nav-curve-right::before {
  content: '';
  z-index: 2;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 18.5px 0 18.5px 10px;
  border-color: transparent transparent transparent #fff;
}
/* line 95, ../sass/interactive.scss */
.intro .figure-nav .figure-nav-chevrons {
  display: flex;
  margin-left: 50px;
  margin-right: 50px;
  padding-right: 2px;
  background-color: white;
}
/* line 103, ../sass/interactive.scss */
.intro .figure-nav .figure-nav-chevrons a {
  display: inline-block;
  padding: 8px 12px 8px 24px;
  position: relative;
  margin-left: 2px;
  flex-grow: 1;
  background-color: #15A6B7;
  border: 0;
  color: white;
  text-align: center;
}
/* line 115, ../sass/interactive.scss */
.intro .figure-nav .figure-nav-chevrons a:hover {
  background-color: #135257;
  border: 0;
}
/* line 118, ../sass/interactive.scss */
.intro .figure-nav .figure-nav-chevrons a:hover::after {
  border-color: transparent transparent transparent #135257;
}
/* line 123, ../sass/interactive.scss */
.intro .figure-nav .figure-nav-chevrons a.spy-current {
  background-color: #135257;
}
/* line 125, ../sass/interactive.scss */
.intro .figure-nav .figure-nav-chevrons a.spy-current::after {
  border-color: transparent transparent transparent #135257;
}
/* line 130, ../sass/interactive.scss */
.intro .figure-nav .figure-nav-chevrons a::before {
  content: '';
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 17.5px 0 17.5px 10px;
  border-color: transparent transparent transparent #ffffff;
}
/* line 143, ../sass/interactive.scss */
.intro .figure-nav .figure-nav-chevrons a::after {
  content: '';
  z-index: 2;
  position: absolute;
  left: 100%;
  top: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 17.5px 0 17.5px 10px;
  border-color: transparent transparent transparent #15A6B7;
}

/* line 159, ../sass/interactive.scss */
.spy-group {
  padding-top: 180px;
  margin-top: -180px;
}

/* line 164, ../sass/interactive.scss */
.figure {
  margin-bottom: 30px;
}
/* line 167, ../sass/interactive.scss */
.figure .figure-title {
  border-bottom: 1px solid gray;
  margin-bottom: 20px;
  padding-bottom: 20px;
}
/* line 173, ../sass/interactive.scss */
.figure .figure-sidebar h5 {
  color: #D24A30;
  font-size: 16px;
  margin-bottom: 6px;
  border-bottom: 1px solid #cecece;
  padding-bottom: 6px;
  font-family: 'Open Sans',sans-serif;
}
/* line 182, ../sass/interactive.scss */
.figure .figure-sidebar ul {
  font-size: 14px;
  margin-bottom: 20px;
}
